<div class="card">
    <h4 class="card-header">Registro</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.get('nombre')?.errors }" />
                <div *ngIf="submitted && form.get('nombre')?.errors" class="invalid-feedback">
                    <div *ngIf="form.get('nombre')?.hasError('required')">El nombre es obligatorio</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Descripcion</label>
                <input type="text" formControlName="descripcion" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.get('descripcion')?.errors }" />
                <div *ngIf="submitted && form.get('descripcion')?.errors" class="invalid-feedback">
                    <div *ngIf="form.get('descripcion')?.hasError('required')">La descripcion es obligatorio</div>
                </div>
            </div>
            <div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                  Crear Grupo
                </button>
                <a routerLink="/home" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>

