<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuentas Claras</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div *ngIf="hayUsers; else noUsers">
  <h2>Listado de usuarios</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        
        <!-- Agrega más columnas según tus necesidades -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usuarios">
        <td>{{ user.name }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
        
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="volver()">Volver</button>
</div>

<ng-template #noUsers>
  <div class="alert alert-info">
    No hay usuarios agregados.
  </div>
   <button class="btn btn-primary" (click)="volver()">Volver</button>
</ng-template>

</body>
</html>

