<nav class="navbar navbar-expand navbar-dark bg-dark px-3" >
  <div class="navbar-nav">
    <div>
      <h3 style="color: white;">Bienvenido a Cuentas Claras, {{user?.name}}!</h3>
    </div>
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" >Home</a>
      <a class="nav-item nav-link" routerLink="#" routerLinkActive="active">Ver Grupo</a>
      <a class="nav-item nav-link" routerLink="#" routerLinkActive="active">Crear Grupo</a>
      <a class="nav-item nav-link" routerLink="#" routerLinkActive="active">Ver Gastos</a>
      <a class="nav-item nav-link" (click)="gasto()" >Cargar Gastos</a>
      <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
  </div>
</nav>

<!-- <router-outlet></router-outlet> -->

