
    <div class="container">
        <h1>Aplicacion web de gastos</h1>
        <p>Bienvenido a cuentas claras </p>

        <div class="buttons-container">
            <button class="button" (click)="login()">      
                Iniciar sesion en cuentas claras.
            </button>
        </div>

        <h4> ¿No tienes una cuenta? </h4>
        <div class="buttons-container">
            <button class="button" (click)="registro()">    
            Registro
            </button>
        </div>
