<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuentas Claras</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div *ngIf="gastos">
  <h2>Listado de Gastos</h2>
  <table>
    <thead>
      <tr>
        <th>Monto</th>
        <th>Descripción</th>
        <th>Fecha</th>
        <th>Acciones</th>
        <!-- Agrega más columnas según tus necesidades -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gasto of gastos">
        <td>{{ gasto.monto }}</td>
        <td>{{ gasto.descripcion }}</td>
        <td>{{ gasto.fecha }}</td>
        <td>
          <button class="btn btn-warning" (click)="editarGasto(gasto.id)">Editar</button>
        <!-- Agrega más celdas según tus necesidades -->
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="volver()">Volver</button>
</div>

</body>
</html>

