<div class="card">
    <h4 class="card-header">Registro</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input class="form-control" formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && form.get('nombre')?.errors }" />
            <span class="current-value">Valor actual: {{ grupo?.nombre }}</span> <!-- Mostrar valor actual -->
        </div>
             <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Descripcion</label>
            <input class="form-control" formControlName="descripcion" [ngClass]="{ 'is-invalid': submitted && form.get('nombre')?.errors }" />
            <span class="current-value">Valor actual: {{ grupo?.descripcion }}</span> <!-- Mostrar valor actual -->
        </div>


            <div class="mb-3">
            <label class="input-group-text" for="categoria">Seleccione una categoria</label>
            <select formControlName="categoria">
                <option *ngFor="let categoria of categorias" [ngValue]="categoria.nombre">{{ categoria.nombre }}</option>
            </select>
            <span class="current-value">Valor actual: {{ grupo?.categoria }}</span> <!-- Mostrar valor actual -->
        </div>
            <div>
                <button class="btn btn-primary">Guardar</button>
                <a (click)="volver()" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>